body
{
    background-color: rgb(140, 240, 140);
}

.nav-bar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li
{
    display: inline;
    /* float: left; */
}

.content
{
    margin-left: 5%;
    width: 45%;
}

.content h1
{
    color:rgb(0, 70, 0)
}