body
{
    background-color: rgb(140, 240, 140);
    margin: 0;
}

.nav-bar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(10, 10, 10);
}

.nav-bar li
{
    float: left;
}

.nav-bar li a
{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.nav-bar li a:hover
{
    background-color: rgb(50, 50, 50);
    transition: 250ms;
}

.content
{
    margin-left: 5%;
    width: 45%;

}

.content h1
{
    color:rgb(0, 92, 0);
    font-size: 2.5rem;
}

.content p
{
    font-size: 1.4rem;
}